
img {
    clip-path: circle(35%);
    filter: invert(100%) sepia(100%) saturate(900%) hue-rotate(80deg);
    mix-blend-mode: difference;
    -webkit-filter: invert(100%) sepia(100%) saturate(900%) hue-rotate(80deg);
    max-width: 270px;
}

body{
    background-color: #181818;
}

header{
    padding-top: 35px;
    /* max-width: 280px;  */
    text-align: center;
    
}
#title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    letter-spacing: 0px;
    font-size: 30px;
    margin-bottom: -20px;
}

#subtitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b8b6b6;
    line-height: 20px;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    word-wrap: break-word;
    font-weight: 400;
}

legend{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b8b6b6;
    font-size: 12px;
}
#country fieldset{
    border-radius: 10px;
    border-width: 1px;
    /* max-width: 600px; */
    padding: 10px;
    border-color: #363636;
}
#country fieldset:hover{
    border-color: rgb(108, 199, 187);
}
#country fieldset:focus-within{
    border-color: rgb(108, 199, 187);
    border-width: 2px;
    transition: border-color 6s ease, outline 6s ease;
    -webkit-transition: border-color 6s ease, outline 6s ease;
    -moz-transition: border-color 6s ease, outline 6s ease;
    -ms-transition: border-color 6s ease, outline 6s ease;
    -o-transition: border-color 6s ease, outline 6s ease;
}

fieldset:hover legend{
    color: rgb(108, 199, 187);
}

#country{
    margin: 0 auto;
    justify-content: center;
    max-width: 350px;
    padding: 20px;
}

select{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b8b6b6;
    font-size: 18px;
    padding-right: 220px;
}

/* to remove the white box that appears after clicking */
select:focus{
    outline: none;
}

/* color of dropdown */
#scroll-select{
    background-color: #181818;
    border-width: 0;  
}

/* color of the options */
#scroll-select option{
    background-color: #181818;
}

/* color of dropdown on clicking */
#scroll-select:focus{
    background-color: #181818; 
}

/* #scroll-select option:hover, 
#scroll-select option:focus{
    background-color: #242323 !important;
} */

#number{
    margin: 0 auto;
    justify-content: center;
    max-width: 350px;
    padding: px;
}

#number fieldset{
    border-radius: 10px;
    border-width: 1px;
    height: 40px;
    padding: 10px;
    border-color: #363636;
}

#number fieldset:hover{
    border-color: rgb(108, 199, 187);
}

#number fieldset:focus-within{
    border-color: rgb(108, 199, 187);
    border-width: 2px;
    transition: border-color 6s ease, outline 6s ease;
}

#number input{
    background-color: #181818;
    border-width: 0;
    color: azure;
    visibility: none;
}

#number input:focus{
    outline: none;
}

#check-box{
    width: 350px;
    height: 40px;
    background-color: #181818;
    margin: 0 auto;
    margin-top: 27px;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-left: 0px;
}
#check-box:hover{
    background-color: #363636;
}
/* to shift checkbox position wrt div container */
input[type="checkbox"]{
    margin-left: 30px;
}

#login{
    color: aquamarine;
    width: 350px;
    height: 40px;
    background-color: #181818;
    border-radius: 10px;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login:hover{
    background-color: #203336;
}

#login button{
    display: none;
}






  